src/build/
src/model/rrdbnet_arch_alt.py
LICENSE
src/logs/
src/saved_models/
src/user_config/
weight_backups/
weights/
.vscode/
src/dist/
*.egg-info/
__pycache__/
.ipynb_checkpoints/
upscaler.ico
*/__pycache__/
src/tests/test_data/export_test_data/
src/tests/test_data/model_test_data/
src/CGTextureUpscaler_v0.4.0(CPU).rar
src/CGTextureUpscaler_v0.4.0(CPU+GPU).rar
logs/